body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#container {
    width: 600px;
    height: 280px;
    border: 2px solid blue;
    padding: 5px;
    background-color: #f0f0f0;
}
h2 {
    font-size: 16pt;
    color: blue;
    font-style: italic;
 }
 #yellow {
    background-color: yellow;
    float: left;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
 }
 #white{

 }
 #orange {
    background-color: orange;
    position: absolute;
    top: 200px;
    left:110px;
    width: 200px;
    padding: 10px;
 }
 #orange-red {
    background-color: rgb(255,80,0);
    color: white;
    float: right;
    width: 200px;
    padding: 10px;
    margin-right: 40px;
    margin-top: 20px;
 }
